# Install on Windows
{{ if eq .chezmoi.os "windows" }}
.config/*
!.config/chezmoi
!.config/AutoHotkey
!.config/nvim
{{ else }}
.chezmoiscripts/windows/**
{{ end }}

# Install on Ubuntu
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
.config/*
!.config/chezmoi
!.config/alacritty
!.config/tmux
!.config/nvim
{{ else }}
.chezmoiscripts/ubuntu/**
{{ end }}

# Install on Raspbian
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "raspbian") }}
{{ else }}
.chezmoiscripts/raspbian/**
{{ end }}
