# Install on Windows
{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**
.local/share/AutoHotkey
{{ end }}

# Install on Ubuntu 20.04
{{ if and (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.id "ubuntu") (ne .chezmoi.osRelease.versionID "20.04") }}
.chezmoiscripts/linux/**
.config/alacritty
.config/tmux
{{ end }}

# Install on Raspberry Pi
{{ if and (ne .chezmoi.os "linux") (ne .chezmoi.osRelease.id "raspbian") }}
{{ end }}
