# Common 
.config/*
.vimrc
!.config/chezmoi

# Install on Windows
{{ if eq .chezmoi.os "windows" }}
!.config/AutoHotkey
!.config/nvim
{{ else }}
.chezmoiscripts/windows/**
{{ end }}

# Install on Ubuntu
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "ubuntu") }}
!.config/alacritty
!.config/tmux
!.config/nvim
{{ else }}
.chezmoiscripts/ubuntu/**
{{ end }}

# Install on Raspbian
{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "raspbian") }}
!.vimrc
{{ else }}
.chezmoiscripts/raspbian/**
{{ end }}
