# vim:ft=toml

[".config/nvim"]
    # NOTE: git-repo does not allow to add a "gitignored file/dir" in the repo (yield an inconsistent error)
    # REF: https://github.com/twpayne/chezmoi/issues/1614
    # type = "git-repo"
    # url = "https://github.com/NvChad/NvChad.git"
    type = "archive"
    url = "https://github.com/NvChad/NvChad/archive/refs/tags/v2.0.zip"
    refreshPeriod = "168h"
    stripComponents = 1
