# vim:ft=toml

{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "powershell"
{{ end }}

[edit]
  command = "nvim"

encryption="age"
[age]
  identities = ["~/age/key.txt"]
  recipients = ["age16m6m388qjak9zsa544r33szhyt7t87v9qqmqaruuyrhrjhreyd0shkgxjs"]
