# vim:ft=toml

{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "powershell"
{{ end }}

[edit]
  command = "nvim"

encryption="age"
[age]
  identities = ["~/.config/age/key.txt"]
  recipientFiles = ["~/.config/age/recipients.txt"]
