{{ if eq .chezmoi.os "windows" }}
[cd]
  command = "powershell"
{{ end }}

[edit]
  command = "nvim"

encryption="age"
[age]
  identities = ["~/key.txt"]
  recipients = ["age18lfhlu8w5s0tu9gw69kj49g07u0up4kuwj24va7p4uycac4fqdwsh84m4m", "age19054ksl0wtypf4p3c0t3gwsugyf8j49dnxv0elgn05wxeazlwv3srjf0jx", "age1dg4m9zkke8lgup4qmawpnlv6ps3hvcj36ty9hftxak9prszp5gts6alcm5"]
